@model WebSecurityAssignment.Models.Comment

@{
    ViewData["Title"] = "Edit";
    ViewBag.Current = "Chat";
}

<h1 class="display-4 text-center text-primary">Edit Message.</h1>
<div class="bg-warning shadow-sm rounded-xl p-3">
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label text-primary fw-bold mb-1">What would you like to change?</label>
                <input asp-for="Content" class="form-control mb-2" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary border border-white" />
                <a asp-action="Index" class="btn btn-danger border border-white">Regrets</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
