@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.Current = "Privacy";
}
@*<h1>@ViewData["Title"]</h1>*@
<div class="d-flex justify-content-center">
    <div>
        <i class="fas fa-user-secret fs-xl text-dark mt-3"></i>
        <h1 class="display-4 mt-4">Shhhh!</h1>
    </div>
</div>