.zoomy{
    transition: transform 0.2s ease-in-out !important;
    transition: color 0.2s ease-in-out !important;
}

.zoomy:hover {
    transform: scale(1.1) !important;
    color: #2ef79a !important;
}

.activelink {
    transform: scale(1.1) !important;
    color: #2ef79a !important;
}

.rounded-xl {
    border-radius: 1rem !important;
}

.bg-custom {
    background-color: #2ef79a !important;
}

.fs-xl {
    font-size: calc(10rem + 0.3vw) !important;
}

.fs-l {
    font-size: calc(5rem + 0.3vw) !important;
}

.text-customgreen {
    color: #2ef79a !important;
}
